@font-face {
  font-family: 'Baloo Paaji 2';
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Bold.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-ExtraBold.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Medium.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Regular.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-SemiBold.ttf");
}

@font-face {
  font-family: 'Dosis';
  src: url("../../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Bold.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-ExtraBold.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-ExtraLight.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Light.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Medium.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Regular.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-SemiBold.ttf");
}

@font-face {
  font-family: 'Exo 2';
  src: url("../../assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf");
  src: url("../../assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Black.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-BlackItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Bold.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-BoldItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraBold.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraBoldItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraLight.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraLightItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Medium.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Italic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Light.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-LightItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-MediumItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Regular.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-SemiBold.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-SemiBoldItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Thin.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ThinItalic.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  background-color: white;
}

header #searchBar{
  padding: 10px;
  margin: 10px;

}
header #searchBar input[type="text"]{
  width: 900px;
  padding: 5px 10px;
  border: 3px solid gray;
  border-radius: 10px;
}
header #searchBar input[type=text]:focus{
  outline: none;
}

header .wrap-content {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #flexbox-container-1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
header .wrap-content #buttons {
  display: flex;
}

header .wrap-content #buttons nav ul {
  padding: 0;
  display: flex;
  text-align: center;
  list-style-type: none;
  flex-wrap: wrap ;
  
  
}
header .wrap-content #buttons nav ul li #nav-dropdown{
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 18px;
}
header .wrap-content #buttons nav ul li #nav-dropdown:focus{
  outline: none;
}
header .wrap-content #buttons nav ul li #nav-dropdown option{
  background-color: white ;
  outline: none;
}

header .wrap-content #buttons nav ul li a {
  font-family: "Spartan";
  font-weight: 600;
  letter-spacing: 0.2em;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  border-bottom: solid 4px transparent;
  -webkit-transition: border-bottom-color .3s ease-in-out;
  transition: border-bottom-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

header .wrap-content #buttons nav ul li a:hover {
  background-color: whitesmoke;
  color: black;
  border-bottom: solid 4px white;
}

main #page-showcase{
  background-image: url("../../assets/images/background/background_on_work.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  color: whitesmoke;
}
