@font-face {
  font-family: 'Baloo Paaji 2';
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Bold.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-ExtraBold.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Medium.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-Regular.ttf");
  src: url("../../assets/fonts/Baloo_Paaji_2/BalooPaaji2-SemiBold.ttf");
}

@font-face {
  font-family: 'Dosis';
  src: url("../../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Bold.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-ExtraBold.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-ExtraLight.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Light.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Medium.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-Regular.ttf");
  src: url("../../assets/fonts/Dosis/static/Dosis-SemiBold.ttf");
}

@font-face {
  font-family: 'Exo 2';
  src: url("../../assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf");
  src: url("../../assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Black.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-BlackItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Bold.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-BoldItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraBold.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraBoldItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraLight.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ExtraLightItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Medium.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Italic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Light.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-LightItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-MediumItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Regular.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-SemiBold.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-SemiBoldItalic.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-Thin.ttf");
  src: url("../../assets/fonts/Exo_2/static/Exo2-ThinItalic.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Spartan";
  margin: 0;
  padding: 1em 0;
}

p {
  font-family: "Poppins";
  font-weight: bolder;
  margin: 0;
  padding: 1em 0;
}

.wrap-content {
  padding: 10px;
  overflow: hidden;
 
}


header {
  overflow: hidden;
  background-color: white;
}

header #searchBar{
  padding: 10px;
  margin: 10px;

}
header #searchBar input[type="text"]{
  width: 900px;
  padding: 5px 10px;
  border: 3px solid gray;
  border-radius: 10px;
}
header #searchBar input[type=text]:focus{
  outline: none;
}

header .wrap-content {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #flexbox-container-1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}
header .wrap-content #buttons {
  display: flex;
}

header .wrap-content #buttons nav ul {
  padding: 0;
  display: flex;
  text-align: center;
  list-style-type: none;
  flex-wrap: wrap ;
  
  
}
header .wrap-content #buttons nav ul li #nav-dropdown{
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 18px;
}
header .wrap-content #buttons nav ul li #nav-dropdown:focus{
  outline: none;
}
header .wrap-content #buttons nav ul li #nav-dropdown option{
  background-color: white ;
  outline: none;
}

header .wrap-content #buttons nav ul li a {
  font-family: "Spartan";
  font-weight: 600;
  letter-spacing: 0.2em;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  border-bottom: solid 4px transparent;
  -webkit-transition: border-bottom-color .3s ease-in-out;
  transition: border-bottom-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

header .wrap-content #buttons nav ul li a:hover {
  background-color: black;
  color: white;
  border-bottom: solid 4px black;
}

.showcase{
  padding: 10px;
}
#page-showcase{
  background-color: grey;
  background-image: url("../../assets/images/background/background_on_work.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
 #page-showcase #libName{
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 15%;
} 
#page-showcase #libName img{
  height: auto;
  min-width: 30%;
  margin: 10px;
}
#page-showcase #libName h2{
  margin: 10px;
  font-size: 50px;
  font-family: "Spartan";
}

main p {
  font-family: "Spartan";
}

.staff-pic{
  font-size: larger;
  color: whitesmoke;
  background-color: black;
  width: 30%;
  letter-spacing: 12px;
  text-align: center;
}

.staff-pic h3{
  padding: 10px;
}
.flexbox-container-2{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flexbox-container-2 img{
  margin: 10px;
  border: solid 3px black;
}

#checkBooks{
  text-align: center;
}
#checkBeverages{
  text-align: center;
}

.href-hover-effect a{
  font-family: "Spartan";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.2em;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  border-bottom: solid 4px transparent;
  -webkit-transition: border-bottom-color .3s ease-in-out;
  transition: border-bottom-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.href-hover-effect a:hover{
  background-color: black;
  color: whitesmoke;
  border-bottom: solid 4px black;
}

#updates p{
  font-family: "Spartan";
}
#updates h4{
  font-family: "Spartan";
}

#update-cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#update-cont #cont-1{
  margin: 20px;
  border: solid 4px black;
}
#update-cont #cont-2{
  margin: 20px;
  width: 50%;
}

footer{
  background-color: black;
  color: white;
  font-family: "Spartan";
}
footer #flex-box-footer{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
}

footer .grid ul {
  padding: 0px;
}
footer .grid ul li{
  list-style-type: none;
}

footer .grid ul li a{
  color: white;
  text-decoration: none;
  
}
footer #copyright{
  text-align: center;
  color: white;
}
/* .right {
  float: right;
}

.left {
  float: left;
} */
/*# sourceMappingURL=style.css.map */

/*=========================LOGING/REGISTER====================*/

.container{
  padding: 0px;
  background-color: black;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
}
#top-section{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hr-divider{
  border: 2px solid yellow;
}
.hr-divider-2{
  border: 0.5px solid yellow;
  width: 75%;
}

#top-section h1{
 padding: 0%;
}
#top-section img{
  margin: 10px;
 }
 
 #login-section{
   text-align: center;
 }
 #login-section input[type="text"]{
  padding: 5px 10px;
  border: 3px solid gray;
  border-radius: 10px;
  height: 50px;
  min-width: 30%;
 }

 #login-section input[type="text"]:focus{
   outline: none;
 }

 .login-button{
  background-color: white; 
  border: none;
  color: black;
  border-radius: 10px;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }
 .login-button:focus{
   outline: none;
 }
#regis-section{
  text-align: center;
}