@font-face {
  font-family: 'Spartan';
  src: url("../../assets/fonts/Spartan/Spartan-VariableFont_wght.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-Black.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-Bold.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-ExtraBold.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-ExtraLight.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-Light.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-Medium.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-Regular.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-SemiBold.ttf");
  src: url("../../assets/fonts/Spartan/static/Spartan-Thin.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("../../assets/fonts/Poppins/Poppins-Black.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-BlackItalic.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-Bold.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-BoldItalic.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-ExtraLight.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-Italic.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-Medium.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-MediumItalic.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-Thin.ttf");
  src: url("../../assets/fonts/Poppins/Poppins-ThinItalic.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: "Spartan";
  margin: 0;
  padding: 1em 0;
}

p {
  font-family: "Poppins";
  font-weight: bolder;
  margin: 0;
  padding: 1em 0;
}

.wrap-content {
  padding: 10px;
  overflow: hidden;
}

header {
  overflow: hidden;
  background-color: #1f1f1f;
}

header .wrap-content {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrap-content #titlePage {
  width: 70%;
  float: left;
}

header .wrap-content #titlePage h1 {
  font-family: "Spartan";
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
  padding: 0.4em;
}

header .wrap-content #buttons {
  width: 30%;
  float: left;
  margin: auto;
}

header .wrap-content #buttons nav ul {
  padding: 0;
  margin: 0;
}

header .wrap-content #buttons nav ul li {
  overflow: hidden;
  padding-left: 10px;
  float: left;
}

header .wrap-content #buttons nav ul li a {
  display: block;
  font-family: "Spartan";
  font-weight: 600;
  letter-spacing: 0.2em;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  border-bottom: solid 4px transparent;
  -webkit-transition: border-bottom-color .3s ease-in-out;
  transition: border-bottom-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

header .wrap-content #buttons nav ul li a:hover {
  background-color: whitesmoke;
  color: black;
  border-bottom: solid 4px white;
}

.right {
  float: right;
}

.left {
  float: left;
}
/*# sourceMappingURL=style.css.map */